@use "../../../Styles/Variables.scss" as *;

.title {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 240px;
	height: 240px;
	border-radius: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	z-index: 100;
	@media (max-width: 768px) {
		display: none;
		z-index: 0;
	}
	a {
		text-decoration: none;
		h1 {
			padding-top: 23px;
			background-color: black;
			color: $background-color;
			text-align: center;
			width: 100%;
		}
	}

	img {
		margin: 0 auto;
		width: 124px;
		margin-top: -15px;
		background-color: black;
		color: $background-color;
	}
}
